body {
    margin: 0px !important;
    background-color: #453324 !important;

}
#webview {
    position:fixed;
    display: block;
    width: 100%;
    height: 100%;
}
iframe {
    height: 100% !important;
    width: 10px !important;
}
body.sc-classic {
    background: #1d1d1d !important;
}
